.slick-slide:not(.slick-current) {
    /* Make slides other than the current one translucent */
    opacity: 0.4;
}

.slick-slide > div {
    transform: scale(.7);
    transition: transform .2s cubic-bezier(.4,0,.2,1);
}

.slick-active > div {
    transform: scale(1);
}

@media (max-width: 821px) {
    .slick-slide > div {
        transform: scale(0.8);
    }
}

@media (max-width: 640px) {
    .slick-slider {
        display:none;
    }
}

@media screen and (max-width: 541px) {
    .slick-slide > div {
        transform: scale(.9);
    }
    .slick-active > div {
        transform: scale(1);
    }
}

@media screen and (max-width: 281px) {
    .slick-slide > div {
        transform: scale(.7);
    }
    .slick-active > div {
        transform: scale(1.2);
    }
}