.bargain-modal-wrapper {
  @apply flex justify-center h-screen overflow-x-hidden overflow-y-auto fixed inset-0 z-40 outline-none focus:outline-none;
}

.modal-card {
  @apply w-full block p-8 rounded-t-2xl bg-white fixed bottom-0 self-end;
  @apply sm:relative sm:max-w-mltsm sm:self-center sm:rounded-2xl;
}

.button-container {
  @apply flex justify-end;
}

.modal-title {
  @apply text-gray-900 text-lg leading-tight font-medium mt-5;
}

.modal-text {
  @apply text-gray-700 text-base my-7;
}

.modal-detail-product {
  @apply w-full p-4 border rounded-3xl;
  @apply sm:border-0 sm:shadow-xl sm:bg-light-gray-1;
}

.detail-product-wrapper {
  @apply gap-5 flex flex-row items-center;
}

.price-field-wrapper {
  @apply flex flex-col text-gray-700 my-5;
}

.price-field {
  @apply bg-white h-10 px-5 pr-10 rounded-2xl text-sm border border-gray-400 w-full focus:outline-none focus:bg-gray-200;
}

.send-button {
  @apply w-full py-3 px-5 rounded-2xl text-white bg-primary-purple-4 shadow-lg shadow-purple-200/50 font-semibold;
}
