@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .btn-category {
    @apply bg-primary-purple-1 px-4 md:px-5 py-3 text-neutral-4 text-sm flex items-center font-poppins rounded-xl hover:bg-primary-purple-4 hover:text-neutral-1;
  }
  .btn-category-active {
    @apply bg-primary-purple-4 px-4 md:px-5 py-3 text-neutral-1 text-sm flex items-center font-poppins rounded-xl;
  }
  .btnCategory {
    @apply flex gap-4 w-[100vw] overflow-scroll px-3;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .btnCategory::-webkit-scrollbar {
    display: none;
  }
  .card-addProduct {
    @apply border-dashed border-2 cursor-pointer flex flex-col justify-center items-center text-neutral-3 space-y-3;
  }
}
